USE [ImportingContentMapFR]
GO
/****** Object:  Table [dbo].['09HW$']    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['09HW$'](
	[CONTENT_MAP_CODE] [nvarchar](255) NULL,
	[Unit] [nvarchar](255) NULL,
	[Homework] [nvarchar](255) NULL,
	[Activity] [nvarchar](255) NULL,
	[Questions] [float] NULL,
	[Scores] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Content_Map$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content_Map$](
	[CONTENT_MAP_CODE] [nvarchar](255) NULL,
	[BOOK] [nvarchar](255) NULL,
	[ACH_MODEL] [float] NULL,
	[COUNTRY] [nvarchar](255) NULL,
	[BUSINESS_LINE] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Content_Map_CIC_Activity$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content_Map_CIC_Activity$](
	[CONTENT_MAP_CODE] [nvarchar](255) NULL,
	[UNIT] [nvarchar](255) NULL,
	[UNIT_SESSION] [nvarchar](255) NULL,
	[CIC_BOOK] [nvarchar](255) NULL,
	[CIC_ACTIVITY_PAGE] [nvarchar](255) NULL,
	[CIC_ACTIVITY_ITEM] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Content_Map_CIC_Learning$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content_Map_CIC_Learning$](
	[CONTENT_MAP_CODE] [nvarchar](255) NULL,
	[UNIT] [nvarchar](255) NULL,
	[UNIT_SESSION] [nvarchar](255) NULL,
	[CIC_SKILL] [nvarchar](255) NULL,
	[SKILL_ITEM] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Content_Map_Unit_Progress_Test$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content_Map_Unit_Progress_Test$](
	[CONTENT_MAP_CODE] [nvarchar](255) NULL,
	[UNIT] [nvarchar](255) NULL,
	[PROGRESS_TEST] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Content_Map_Unit_Session$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content_Map_Unit_Session$](
	[CONTENT_MAP_CODE] [nvarchar](255) NULL,
	[UNIT] [nvarchar](255) NULL,
	[UNIT_SESSION] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FRBook5$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRBook5$](
	[UNIT] [nvarchar](255) NULL,
	[SKILL] [nvarchar](255) NULL,
	[SUB SKILL] [nvarchar](255) NULL,
	[ABILITY NAME] [nvarchar](255) NULL,
	[ABILITY POINTS] [float] NULL,
	[CONTENT] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SkillDesc_Book5]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillDesc_Book5](
	[Books] [nvarchar](255) NULL,
	[Unit] [nvarchar](255) NULL,
	[Skill] [nvarchar](255) NULL,
	[English] [nvarchar](max) NULL,
	[Chinese] [nvarchar](max) NULL,
	[Russian] [nvarchar](max) NULL,
	[Indonesian] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TargetLanguage$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TargetLanguage$](
	[BOOK] [nvarchar](255) NULL,
	[UNIT] [nvarchar](255) NULL,
	[SKILL] [nvarchar](255) NULL,
	[TARGET FUNCTION 1] [nvarchar](255) NULL,
	[TARGET FUNCTION 2] [nvarchar](255) NULL,
	[TARGET FUNCTION 3] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit_Session_Homework$]    Script Date: 2017/4/1 18:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit_Session_Homework$](
	[CONTENT_MAP_CODE] [nvarchar](255) NULL,
	[UNIT] [nvarchar](255) NULL,
	[UNIT_SESSION] [nvarchar](255) NULL,
	[Homework] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].['09HW$'] ([CONTENT_MAP_CODE], [Unit], [Homework], [Activity], [Questions], [Scores]) VALUES (N'TB-v3-book3-cn-own-3ach', N'Unit1', N'HW1', N'Activity 1', 1, 1)
INSERT [dbo].['09HW$'] ([CONTENT_MAP_CODE], [Unit], [Homework], [Activity], [Questions], [Scores]) VALUES (N'TB-v3-book3-cn-own-3ach', N'Unit1', N'HW1', N'Activity 1', 1, 1)
INSERT [dbo].['09HW$'] ([CONTENT_MAP_CODE], [Unit], [Homework], [Activity], [Questions], [Scores]) VALUES (N'TB-v3-book3-cn-own-3ach', N'Unit1', N'HW1', N'Activity 1', 1, 1)
GO
INSERT [dbo].[Content_Map$] ([CONTENT_MAP_CODE], [BOOK], [ACH_MODEL], [COUNTRY], [BUSINESS_LINE]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Book5', 3, N'CN', N'OWN')
INSERT [dbo].[Content_Map_CIC_Activity$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [CIC_BOOK], [CIC_ACTIVITY_PAGE], [CIC_ACTIVITY_ITEM], [DESCRIPTION]) VALUES (N'FR-v1-book5-cn-own-3ach', N'1', NULL, NULL, N'6', N'A', N'Reading')
INSERT [dbo].[Content_Map_CIC_Activity$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [CIC_BOOK], [CIC_ACTIVITY_PAGE], [CIC_ACTIVITY_ITEM], [DESCRIPTION]) VALUES (N'FR-v1-book5-cn-own-3ach', N'1', NULL, NULL, N'7', N'B', N'Grammar & Vocabulary')
INSERT [dbo].[Content_Map_CIC_Activity$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [CIC_BOOK], [CIC_ACTIVITY_PAGE], [CIC_ACTIVITY_ITEM], [DESCRIPTION]) VALUES (N'FR-v1-book5-cn-own-3ach', N'1', NULL, NULL, N'8', N'C', N'Reading & Speaking')
INSERT [dbo].[Content_Map_CIC_Learning$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [CIC_SKILL], [SKILL_ITEM]) VALUES (N'FR-v1-book5-cn-own-3ach', N'1', NULL, N'Vocabulary', N'Advertisements ')
INSERT [dbo].[Content_Map_CIC_Learning$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [CIC_SKILL], [SKILL_ITEM]) VALUES (N'FR-v1-book5-cn-own-3ach', N'1', NULL, N'Function', N'Comparing and contrasting different study plans')
INSERT [dbo].[Content_Map_CIC_Learning$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [CIC_SKILL], [SKILL_ITEM]) VALUES (N'FR-v1-book5-cn-own-3ach', N'1', NULL, N'Vocabulary', N'Compromise ')
INSERT [dbo].[Content_Map_Unit_Progress_Test$] ([CONTENT_MAP_CODE], [UNIT], [PROGRESS_TEST]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit1', N'ProgressTest1')
INSERT [dbo].[Content_Map_Unit_Progress_Test$] ([CONTENT_MAP_CODE], [UNIT], [PROGRESS_TEST]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit2', N'ProgressTest1')
INSERT [dbo].[Content_Map_Unit_Progress_Test$] ([CONTENT_MAP_CODE], [UNIT], [PROGRESS_TEST]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit3', N'ProgressTest2')
INSERT [dbo].[Content_Map_Unit_Session$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit1', N'Session1')
INSERT [dbo].[Content_Map_Unit_Session$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit1', N'Session2')
INSERT [dbo].[Content_Map_Unit_Session$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit1', N'Session3')
INSERT [dbo].[FRBook5$] ([UNIT], [SKILL], [SUB SKILL], [ABILITY NAME], [ABILITY POINTS], [CONTENT]) VALUES (N'Unit1&2', N'Speaking', N'Function1', NULL, 1, N'Can put together some clauses, but no real description')
INSERT [dbo].[FRBook5$] ([UNIT], [SKILL], [SUB SKILL], [ABILITY NAME], [ABILITY POINTS], [CONTENT]) VALUES (N'Unit1&2', N'Speaking', N'Function1', NULL, 3, N'Description is difficult to follow because of errors and hesitation')
INSERT [dbo].[FRBook5$] ([UNIT], [SKILL], [SUB SKILL], [ABILITY NAME], [ABILITY POINTS], [CONTENT]) VALUES (N'Unit1&2', N'Speaking', N'Function1', NULL, 5, N'Gives clear description with no impeding errors')
INSERT [dbo].[SkillDesc_Book5] ([Books], [Unit], [Skill], [English], [Chinese], [Russian], [Indonesian]) VALUES (N'Book1', N'Unit 1', N'Assessment: L', N'This is a measure of the ability to understand dates, and to understand names when spelled out.', N'这是对时间，名字拼写的理解能力的衡量。', N'Показывает способность понимать даты и имена, произнесенные по буквам.', N'Ini mengukur kemampuan untuk memahami tanggal, dan untuk memahami nama-nama ketika dieja.')
INSERT [dbo].[SkillDesc_Book5] ([Books], [Unit], [Skill], [English], [Chinese], [Russian], [Indonesian]) VALUES (N'Book1', N'Unit 1', N'Assessment: W', N'This is a measure of the ability to write answers to simple questions on personal information on name, age, birthday and likes.', N'这是对回答有关个人信息比如姓名、年龄、生日和喜好的简单问题的能力的衡量。', N'Показывает способность написания простых ответов на вопросы об имени, возрасте, дате рождения и личных предпочтениях.', N'Ini mengukur kemampuan untuk menulis jawaban pertanyaan sederhana atas informasi pribadi tentang nama, umur, tanggal lahir, dan kesukaan.')
GO
INSERT [dbo].[TargetLanguage$] ([BOOK], [UNIT], [SKILL], [TARGET FUNCTION 1], [TARGET FUNCTION 2], [TARGET FUNCTION 3]) VALUES (N'Book1', N'Unit1', N'Speaking', N'making and responding to basic greetings', N'making simple statements about yourself', N'asking simple questions')
INSERT [dbo].[TargetLanguage$] ([BOOK], [UNIT], [SKILL], [TARGET FUNCTION 1], [TARGET FUNCTION 2], [TARGET FUNCTION 3]) VALUES (N'Book1', N'Unit3', N'Speaking', N'forming questions using ‘where’', N'describing familiar objects', N'forming questions using ‘to be’')
INSERT [dbo].[TargetLanguage$] ([BOOK], [UNIT], [SKILL], [TARGET FUNCTION 1], [TARGET FUNCTION 2], [TARGET FUNCTION 3]) VALUES (N'Book1', N'Unit5', N'Speaking', N'giving simple physical descriptions of people', N' making simple statements about family', N'telling the time')
INSERT [dbo].[Unit_Session_Homework$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [Homework]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit1', N'Session1', N'Complete Unit 1 Lesson 1 from the ''Core Lessons'' online')
INSERT [dbo].[Unit_Session_Homework$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [Homework]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit1', N'Session2', N'Complete the next recommended SPIN lesson online')
INSERT [dbo].[Unit_Session_Homework$] ([CONTENT_MAP_CODE], [UNIT], [UNIT_SESSION], [Homework]) VALUES (N'FR-v1-book5-cn-own-3ach', N'Unit1', N'Session3', N'Complete Unit 1 Lesson 2 from the ''Core Lessons'' online')
